<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Discussion</h1>

        <div class="card">
            <div *ngIf="!targetTask" class="col-12 text-center mt-5 mb-5 ">
                <div class="px-4 d-none d-md-block">
            <div  class="spinner-border text-primary mr-2" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            </div>
            </div>
            <div *ngIf="targetTask" class="row no-gutters">
               
                <div class="col-12 col-lg-5 col-xl-3 border-right">

                    <div class="px-4 d-none d-md-block mb-3 mt-5">
                        <div class="media align-items-center">
                            <div class="media-body">
                               Tache : <strong>{{targetTask.nom_tache}}</strong> <br/>
                               Echéance : {{targetTask.date_echance}} <br/>
                               Rappel : {{targetTask.date_rappel}} <br/>
                              <span *ngIf="targetTask && targetTask.contenu">Remarques : {{targetTask.contenu}}</span> 
                            </div>
                        </div>
                    </div>
                    <a *ngFor="let todo of todos" class="list-group-item list-group-item-action border-0">
                        <div class="badge badge-success float-right">{{todo.task_users[0].role}}</div>
                        <div class="media">
                            <img [src]="todo.task_users[0].imageUrl ? todo.task_users[0].imageUrl : 'assets/img/avatars/avatar.jpg'" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                            <div class="media-body ml-3">
                                 {{todo.task_users[0].nom}} {{todo.task_users[0].prenom}}
                                <div class="small"><span [ngClass]="todo.task_users[0].status === 'active' ? 'fas fa-circle chat-online' : 'fas fa-circle chat-offline' "></span> {{todo.task_users[0].status}}</div>
                            </div>
                        </div>
                    </a>
                    <hr class="d-block d-lg-none mt-1 mb-0" />
                </div>
                <div class="col-12 col-lg-7 col-xl-9">
                    <div class="py-2 px-4 border-bottom d-none d-lg-block">
                        <div class="media align-items-center py-1">
                            <div class="media-body pl-3">
                                <strong>Tache : {{targetTask.nom_tache}}</strong>
                                <div class="text-muted small"><em>{{targetTask.isdone ? 'terminée' : 'en cours...'}}</em></div>
                            </div>
                            <div>
                                <button (click)="load()" class="btn btn-primary border btn-sm px-3 mr-2"><i class="fa fa-fw fa-redo"></i></button>
                            </div>
                            <div>
                                <button (click)="updateTaskStatus()" class="btn btn-light border btn-sm px-3">Marquer comme terminé</button>
                                
                            </div>  
                        </div>
                    </div>

                    <div class="position-relative">
                        <div class="chat-messages p-4">
                            <div *ngFor="let c of commentsList">
                            <div *ngIf="c.emitter.email === connectedUser.email" class="chat-message-right pb-4" >
                                <div>
                                    <img [src]="c.emitter.imageUrl ? c.emitter.imageUrl : 'assets/img/avatars/avatar.jpg'" class="rounded-circle mr-1" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">{{c.createdAt | date :'short'}}</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                    <div class="font-weight-bold mb-1">Vous</div>
                                    {{c.content}}
                                </div>
                                <button (click)="deleteMessage(c)" class="btn btn-round btn-sm">x</button>
                            </div>

                            <div *ngIf="c.emitter.email !== connectedUser.email" class="chat-message-left pb-4">
                                <div>
                                    <img [src]="c.emitter.imageUrl ? c.emitter.imageUrl : 'assets/img/avatars/avatar.jpg'" class="rounded-circle mr-1" width="40" height="40">
                                    <div class="text-muted small text-nowrap mt-2">{{c.createdAt | date :'short'}}</div>
                                </div>
                                <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3">
                                    <div class="font-weight-bold mb-1">{{c.emitter.nom}} {{c.emitter.prenom}}</div>
                                    {{c.content}}
                                </div>
                            </div> 
                        </div>
                        </div>
                    </div>

                    <div class="flex-grow-0 py-3 px-4 border-top">
                        <div *ngIf="loading" class="col-12 text-center mt-2 mb-2 ">
                            <div class="px-4 d-none d-md-block">
                                <div class="spinner-border text-primary mr-2" role="status">
                                    <span class="sr-only">Loading...</span>
                                </div>
                            </div>
                        </div>
                        <form *ngIf="!loading" (submit)="tap()">
                            <div class="input-group">
                                <input [(ngModel)]="text" name="txt" type="text" class="form-control" placeholder="Votre commentaire....">
                                <div class="input-group-append">
                                    <button type="submit" (keydown.enter)="sendComment()"
                                        [disabled]="text === '' || !text || text === null || text === undefined" (click)="sendComment()"
                                        class="btn btn-primary">Envoyer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>