<div class="main">

    <main class="content">
        <div class="container-fluid p-0">

            <h1 class="h3 mb-3">Nouvelle commande</h1>

            <div class="row">
                <div class="col-12 col-lg-12 col-xxl-6 d-flex">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title">Choix du client</h5>
                            <h6 class="card-subtitle text-muted">client acheteur</h6>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label>client</label>
                                <select class="form-control select2" [(ngModel)]="targetClient" (change)="verifyPack()" required name="cli" data-toggle="select2">
                                    <option selected disabled value="0">Veuillez Selectionner un client</option>
                                    <option *ngFor="let c of clients " [ngValue]="c">
                                        <span *ngIf="c.type_client=='grossiste'" class="badge badge-pill badge-secondary">Grossiste</span>
                                        <span *ngIf="c.type_client == 'pharmacie'" class="badge badge-pill badge-success">Pharmacie</span>
                                         {{c.nom_client}}
                                    </option>
                                </select>
                            </div>

                            <div class="mb-3" *ngIf="targetClient && targetClient.type_client == 'pharmacie'">
                                <label>type de vente</label>
                                <select [required]="targetClient.type_client == 'pharmacie'" [(ngModel)]="commandeToAdd.type" class="form-control select2"  name="typev" data-toggle="select2">
                                    <option selected disabled value="0">Veuillez Selectionner un type de vente</option>
                                    <option value="grossiste">vente directe</option>
                                    <option value="direct">vente grossiste</option>
                                </select>
                            </div>
                            <div class="mb-3" *ngIf="targetClient && targetClient.type_client == 'pharmacie' && commandeToAdd.type">
                                <label>Choisir un Pack</label>
                                <select  [(ngModel)]="selectedPack" (change)="loadPackage()"  class="form-control select2"  name="pack">
                                    <option selected disabled value="0">Veuillez Selectionner un pack</option>
                                    <option *ngFor="let p of packs" [ngValue]="p">{{p.nom_pack}}</option>
                                </select>
                            </div>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-12 col-xxl-6 d-flex" *ngIf="targetClient">
                    <div class="card flex-fill">
                        <div class="card-header">
                            <h5 class="card-title">Détails de la commande</h5><button class="btn btn-primary" (click)="addProduct()">Ajouter produit</button>
                        </div>
                        <div class="card-body">
                            <form [formGroup]="commandeForm" >
                                <div formArrayName="products">
                            <div class="row" *ngFor="let product of products().controls; let i=index" [formGroupName]="i">                               
                                <div class="col-12 col-xl-5">
                                    <div class="form-group">
                                        <label>produit</label>
                                    <select (change)="red.value && qte.value ? pttc.value = calculRed(selectedp.value,qte.value,red.value):return" formControlName="produit" #selectedp class="form-control select2" name="product">
                                        <option *ngFor="let p of produits" [ngValue]="p.id"> {{p.libelle}} BTE {{p.nb_gellules}} PU : {{p.prix}}</option>
                                    </select>
                                    </div>
                                </div>

                                <div class="col-6 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">quantité</label>
                                        <input formControlName="quantite" #qte (change)="red.value && qte.value ? pttc.value = calculRed(selectedp.value,qte.value,red.value):return"  class="form-control" type="number" name="qte" />
                                    </div>
                                </div>
                                <div class="col-6 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">remise (%)</label>
                                        <input formControlName="reduction" (change)="red.value && qte.value ? pttc.value = calculRed(selectedp.value,qte.value,red.value):return" #red class="form-control" type="number" placeholder="%" name="reduction" />
                                    </div>
                                </div>
                                <div class="col-6 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">total TTC</label>
                                        <input formControlName="prixTTC" #pttc class="form-control" type="number" name="prixTTC" />
                                    </div>
                                </div>
                                <div class="col-6 col-xl-1">
                                    <div class="form-group">                                        
                                    <button (click)="removeProduct(i)" class="btn btn-white mt-4">X</button>
                                    </div>
                                </div>
                                <hr>
                            </div>
                            </div>
                            <div class="row" *ngIf="estimations && totalQte >= 0 && totalReduction >=0 && totalTTC >= 0">
                                <div class="col-0 col-xl-6">
                                    <div class="form-group">
                                        <span *ngIf="selectedPack">*Prix fixé selon le prix du pack choisit</span>
                                    </div>
                                </div>

                                <div class="col-4 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">{{totalQte}} produits</label>
                                    </div>
                                </div>
                                <div class="col-4 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label"> {{totalReduction}} % de remise</label>
                                    </div>
                                </div>
                                <div class="col-4 col-xl-2">
                                    <div class="form-group">
                                        <label class="form-label">total TTC : {{totalTTC}} TND</label>
                                    </div>
                                </div>
                            </div>
                                <div class="form-row mt-3 float-right">
                                <input value="soumettre" type="submit" [disabled]="!targetClient || commandeForm.invalid || products().length == 0" class="btn btn-primary" (click)="submit()">
                                <button class="btn btn-danger ml-2">annuler</button>
                            </div>
                        </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
        </div>
    </main>