<main class="content">
    <div class="container-fluid p-0">
        <button *ngIf="!showForm" (click)="showPanel()" class="btn btn-primary float-right mt-n1"><i
                class="fas fa-plus"></i> Nouveau pack</button>
        <button *ngIf="showForm" (click)="hidePanel()" class="btn btn-danger float-right mt-n1"><i
                class="fas fa-times"></i> Annuler</button>
        <h1 class="h3 mb-3">Packs</h1>
        <div class="row" *ngIf="showForm">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Ajouter un pack</h5>
                        <!--    alert message    -->
                        <div *ngIf="addError" class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            <div class="alert-message">
                                <strong>Ajout echoué</strong> Veuillez réessayer ultérieurement, ou vérifiez vos
                                champs.
                            </div>
                        </div>
                        <!--end alert-->
                    </div>
                    <div class="card-body">
                        <form #grForm="ngForm">
                            <div class="row">
                                <div class="col-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Type de packs</label>
                                        <select class="form-control select2" [(ngModel)]="packToadd.type_pack"
                                            name="type_pack" required>
                                            <option value="0" disabled selected>Veuillez choisir un type de pack
                                            </option>
                                            <option value="panache">Panaché </option>
                                            <option value="normal">Normale</option>
                                        </select>
                                    </div>
                                    <div *ngIf="packToadd && packToadd.type_pack == 'panache'">
                                        <strong>Pack panaché</strong>
                                        <div class="form-row mt-2">
                                            <div class="form-group col-md-6">
                                                <label>intitulé du pack</label>
                                                <input [(ngModel)]="packToadd.nom_pack" class="form-control"
                                                    type="text" placeholder="pack panaché 1" name="nom_pack" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>prix pack</label>
                                                <input [(ngModel)]="packToadd.prix_total" class="form-control"
                                                    type="number" placeholder="TND." name="prix_pack" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>pourcentage unité gratuite</label>
                                                <input [(ngModel)]="packToadd.pourcentage_unite_gratuites_grossiste"
                                                    class="form-control" type="number" placeholder="%" name="p_vg" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Valeur unité gratuite TTC</label>
                                                <input [(ngModel)]="packToadd.valeur_unite_gratuites_grossiste_ttc"
                                                    class="form-control" type="number" placeholder="TND."
                                                    name="p_v_ttc" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>pourcentage unité gratuite (VD)</label>
                                                <input [(ngModel)]="packToadd.pourcentage_unite_gratuites_vd"
                                                    class="form-control" type="number" placeholder="%" name="p_vd" />
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Valeur unité gratuite TTC(VD)</label>
                                                <input [(ngModel)]="packToadd.valeur_unite_gratuites_vd"
                                                    class="form-control" type="number" placeholder="TND."
                                                    name="p_vd_ttc" />
                                            </div>
                                            <div class="form-group col-md-12">
                                                <label>valeur bon d'achat</label>
                                                <input [(ngModel)]="packToadd.valeur_bon_achat" class="form-control"
                                                    type="number" placeholder="TND." name="bon_achat" />
                                            </div>
                                        </div>
                                    </div>
                                    <div *ngIf="packToadd && packToadd.type_pack == 'normal'">
                                        <strong>pack normal</strong> &nbsp;
                                        <button class="btn btn-primary mt-3" *ngIf="packToadd.nom_pack" (click)="addProduct()">Ajouter produit</button>

                                        <div class="form-row mt-2">
                                        <div class="form-group col-md-6">
                                            <label>intitulé du pack</label>
                                            <input [(ngModel)]="packToadd.nom_pack" class="form-control"
                                                type="text" placeholder="pack hiver" name="nom_pack" />
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>valeur pack TTC </label>
                                            <input [(ngModel)]="packToadd.prix_total" class="form-control"
                                                type="number" placeholder="TND." name="prix_p_tot" />
                                        </div>
                                        
                                    </div>
                                    <form [formGroup]="packForm" >
                                    <div formArrayName="products">
                                    <div class="row" *ngFor="let product of products().controls; let i=index" [formGroupName]="i">                               
                                        <div class="col-6 col-xl-4">
                                            <div class="form-group">
                                                <label>produit</label>
                                            <select  (change)="qte.value && selectedp.value? pttc.value = loadPrice(selectedp.value,qte.value,i):pttc.value = 0" formControlName="produit" #selectedp class="form-control select2" name="product">
                                                <option *ngFor="let p of produits" [ngValue]="p.id"> {{p.libelle}} BTE {{p.nb_gellules}} PU : {{p.prix}} TND</option>
                                            </select>
                                            </div>
                                        </div>
                                        <div class="col-6 col-xl-3">
                                            <div class="form-group">
                                                <label class="form-label">prix total TTC</label>
                                                <input formControlName="prixUnitaire" #pttc class="form-control" type="number" name="prixUnitaire" />
                                            </div>
                                        </div>
                                        <div class="col-6 col-xl-2">
                                            <div class="form-group">
                                                <label class="form-label">quantité</label>
                                                <input (change)="qte.value && selectedp.value ? pttc.value = loadPrice(selectedp.value,qte.value,i):pttc.value = 0" formControlName="quantite" #qte  class="form-control" type="number" name="qte" />
                                            </div>
                                        </div>
                                        <div class="col-6 col-xl-1">
                                            <div class="form-group">                              
                                                Gratuit          
                                            <input type="checkbox" formControlName="gratuit" name="grat" (click)="selectedp.value? setProductValue(0,i,selectedp.value):return">
                                            </div>
                                        </div>
                                        <div class="col-6 col-xl-1">
                                            <div class="form-group">                                        
                                            <button (click)="removeProduct(i)" class="btn btn-white mt-4">X</button>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    </div>
                                </form>
                                    </div>
                                    <div class="form-group">
                                        <label>Autres Remarques</label>
                                        <textarea [(ngModel)]="packToadd.description" name="remarques" class="form-control" rows="2"></textarea>
                                    </div>
                                    <div class="form-row mt-3 float-right ">
                                        <div>
                                            <button type="submit" [disabled]="grForm.invalid" (click)="submit(grForm)"
                                                class="btn btn-primary btn-lg ">Enregistrer</button>
                                            <button type="reset"
                                                class="btn btn-danger btn-lg ml-2">Réinitialiser</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div [ngClass]="!selectedPack?'col-xl-12' :'col-xl-8' ">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">liste des packs</h5>
                    </div>
                    <div class="card-body">
                        <table id="datatables-clients" datatable [dtOptions]="options" [dtTrigger]="trigger"
                            class="table table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Nom pack</th>
                                    <th>Type</th>
                                    <th>Prix</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of listPacks">
                                    <td>{{p.nom_pack}}</td>
                                    <td><span class="badge badge-pill badge-danger" *ngIf="p.type_pack == 'panache'">{{p.type_pack}}</span> <span class="badge badge-pill badge-info" *ngIf="p.type_pack == 'normal'">{{p.type_pack}}</span></td>
                                    <td>{{p.prix_total ? p.prix_total.toFixed(2) : 0}} TND.</td>
                                    <td class="text-center"><button (click)="showPackDetails(p)" class="btn btn-success">Details</button>
                                    <button (click)="setPack(p)" data-target="#sizedModalSm" class="btn btn-danger ml-2" data-toggle="modal">X</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-xl-4" *ngIf="selectedPack">
                <div class="card">
                    <div class="card-header">
                        <h3>{{selectedPack.nom_pack}}</h3>
                    </div>
                    <div class="card-body">
                        <div class="row no-gutters">
                            <div class="col-sm-9 col-xl-12 col-xxl-9">
                                <strong>A propos</strong>
                                <p>{{selectedPack.description}}</p>
                            </div>
                        </div>

                        <table class="table table-sm my-2">
                            <tbody>
                                <tr>
                                    <th>Intitule</th>
                                    <td>{{selectedPack.nom_pack}}</td>
                                </tr>
                                <tr>
                                    <th>Type</th>
                                    <td><span class="badge badge-pill badge-danger" *ngIf="selectedPack.type_pack == 'panache'">{{selectedPack.type_pack}}</span>
                                        <span class="badge badge-pill badge-info" *ngIf="selectedPack.type_pack == 'normal'">{{selectedPack.type_pack}}</span></td>
                                </tr>
                                <tr>
                                    <th>Prix total TTC</th>
                                    <td><strong>{{selectedPack.prix_total ? selectedPack.prix_total.toFixed(3) : 0}} TND </strong></td>
                                </tr>
                            </tbody>
                        </table>

                        <hr />
                        <div *ngIf="selectedPack.type_pack == 'normal'">
                        <strong>Produits associés</strong>

                        <ul *ngIf="PPOfselectedPack" class="timeline mt-2 mb-0">
                            <li *ngFor="let p of PPOfselectedPack"  class="timeline-item">
                                <div *ngIf="p.isfree == false">
                                    <strong>{{p.produits_packs[0].libelle}} BTE {{p.produits_packs[0].nb_gellules}}</strong>
                                    <span class="float-right text-muted text-sm">prix : {{ (p.quantite * p.produits_packs[0].prix).toFixed(3) }} TND.</span>
                                    <p>Qté : {{p.quantite}}</p>
                                </div>
                                <div *ngIf="p.isfree == true">
                                    <strong>{{p.produits_packs[0].libelle}} BTE {{p.produits_packs[0].nb_gellules}}</strong>
                                    <span class="float-right text-muted text-sm">GRATUIT</span>
                                    <p>Qté : {{p.quantite}}</p>
                                </div>
                            </li>
                        </ul>
                        
                    </div>
                    <ul *ngIf="selectedPack.type_pack == 'panache'" class="timeline mt-2 mb-0">
                        <li class="timeline-item">
                            <div>
                                <strong>{{selectedPack.pourcentage_unite_gratuites_grossiste}} % unités gratuites</strong>
                                <span class="float-right text-muted text-sm">OU</span>
                                <p>{{selectedPack.valeur_unite_gratuites_grossiste_ttc }} TND Unités gratuites au choix </p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div>
                                <strong>{{selectedPack.pourcentage_unite_gratuites_vd}} % unités gratuites (VD)</strong>
                                <span class="float-right text-muted text-sm">OU</span>
                                <p>{{selectedPack.valeur_unite_gratuites_vd_ttc }} TND Unités gratuites au choix</p>
                            </div>
                        </li>
                        <li class="timeline-item">
                            <div>
                                <strong>{{selectedPack.valeur_bon_achat}} TND BONS D'ACHAT</strong>
                                <span class="float-right text-muted text-sm">OU</span>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>

<div class="modal fade" id="sizedModalSm" *ngIf="selectedPackForDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer un pack</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body m-3">
                <p class="mb-0">Etes vous sûr(e) de vouloir supprimer le pack {{selectedPackForDelete.nom_pack}} au prix de {{selectedPackForDelete.prix_total}} TND.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>
                <button type="button"  (click)="deletePack()" class="btn btn-danger">supprimer</button>
            </div>
        </div>
    </div>
</div>