<div class="main">
    <main class="content">
        <div class="container-fluid p-0">

            <button *ngIf="!showForm" (click)="showForm = true" class="btn btn-primary float-right mt-n1"><i
                    class="fas fa-plus"></i> Nouveau produit</button>
            <button *ngIf="showForm" (click)="showForm = false" class="btn btn-danger float-right mt-n1"><i
                    class="fas fa-times"></i> Annuler</button>
            <h1 class="h3 mb-3">Produits</h1>
            <!--form-->
            <div class="row" *ngIf="showForm">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Ajouter un produit</h5>
                            <h6 class="card-subtitle text-muted">informations générales</h6>
                            <!--    alert message    -->
                            <div *ngIf="addError" class="alert alert-danger alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                                <div class="alert-message">
                                    <strong>Ajout echoué</strong> Veuillez réessayer ultérieurement, ou vérifiez vos
                                    champs.
                                </div>
                            </div>
                            <!--end alert-->
                        </div>
                        <div class="card-body">
                            <form #productForm="ngForm">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>libelle</label>
                                                <input #libelle="ngModel" minlength="3" required
                                                    [(ngModel)]="productToAdd.libelle" name="libelle" type="text"
                                                    class="form-control" placeholder="vitavans, vitafor...">
                                                <span class="msg font-11"
                                                    *ngIf="libelle.touched && libelle.errors">libelle
                                                    invalide*</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>image</label>
                                                <input #image="ngModel" required minlength="3"
                                                    [(ngModel)]="productToAdd.image_url" name="image" type="text"
                                                    class="form-control" placeholder="http://vitafor.png">
                                                <span class="msg font-11" *ngIf="image.touched && image.errors">image
                                                    invalide*</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>description </label>
                                            <textarea [(ngModel)]="productToAdd.description" name="desc"
                                                class="form-control"
                                                placeholder="Vos remarques, ou autres informations içi..."
                                                rows="4"></textarea>
                                        </div>
                                        <div class="form-row">

                                            <div class="form-group col-md-6">
                                                <label>prix</label>
                                                <input #prix="ngModel" required [(ngModel)]="productToAdd.prix"
                                                    name="prix" type="number" class="form-control" placeholder="TND.">
                                                <span class="msg font-11" *ngIf="prix.touched && prix.errors">prix
                                                    invalide*</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Nombre gellules</label>
                                                <input type="number" [(ngModel)]="productToAdd.nb_gellules"
                                                    name="nb_gellules" class="form-control" placeholder="10,20...">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label>lien guide gamme</label>
                                            <input type="text" [(ngModel)]="productToAdd.guide_gamme" name="guide_gamme"
                                                class="form-control" placeholder="http://farmavans.onedrive/guide.pdf">
                                        </div>
                                        <div class="form-group">
                                            <label>lien fiche poso (onedrive)</label>
                                            <input type="text" [(ngModel)]="productToAdd.fiche_poso" name="fiche_poso"
                                                class="form-control" placeholder="http://farmavans.onedrive/file.pdf">
                                        </div>
                                        <div class="form-group">
                                            <label>composition</label>
                                            <input type="text" [(ngModel)]="productToAdd.composition" name="composition"
                                                class="form-control" placeholder="lien ou composition...">
                                        </div>
                                        <div class="form-row">
                                            <label>etudes cliniques</label>
                                            <input #etude="ngModel" minlength="3" required
                                                [(ngModel)]="productToAdd.etude_cliniques" name="banque" type="text"
                                                class="form-control" placeholder="etudes cliniques...">
                                            <span class="msg font-11" *ngIf="etude.touched && etude.errors">banque
                                                invalide*</span>
                                        </div>
                                        <div class="form-row mt-3 float-right ">
                                            <div class="">
                                                <button type="submit" [disabled]="productForm.invalid"
                                                    (click)="submit(productForm)"
                                                    class="btn btn-primary btn-lg ">Enregistrer</button>
                                                <button type="reset"
                                                    class="btn btn-danger btn-lg ml-2">Réinitialiser</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--endform-->
            <div class="row">
            <div class="input-group mb-3 col-md-6" *ngIf="products">
                <input type="text" #content (keyup)="filterProducts(content.value)" class="form-control" placeholder="Recherche" aria-label="Search">
            </div>
        </div>
            <div class="row">
                <div *ngIf="products.length == 0" class="col-md-12">
                <div class="alert alert-primary alert-outline alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell"></i>
                    </div>
                    <div class="alert-message">
                        <strong>Pas de produits</strong> pas de produits dans la liste
                    </div>
                </div>
            </div>
            
                <div class="col-12 col-md-6 col-lg-3" *ngFor="let p of products">
                <app-product-item [product]="p" *ngIf="p"></app-product-item>
                </div>
            </div>
        </div>
    </main>
</div>