<div class="main">
    <main class="content">
        <div class="container-fluid p-0">

            <a href="#" class="btn btn-primary float-right mt-n1"><i class="fas fa-plus"></i> Nouveau produit</a>
            <h1 class="h3 mb-3">Produits</h1>
            <!--form-->
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">Ajouter un utilisateur</h5>
                            <h6 class="card-subtitle text-muted">informations générales</h6>
                        </div>
                        <div class="card-body">
                            <form #productForm="ngForm">
                                <div class="row">
                                    <div class="col-12 col-lg-6">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>libelle</label>
                                                <input #libelle="ngModel" minlength="3" maxlength="15" required
                                                    [(ngModel)]="productToAdd.libelle" name="libelle" type="text"
                                                    class="form-control" placeholder="foulen">
                                                <span class="msg font-11"
                                                    *ngIf="libelle.touched && libelle.errors">libelle
                                                    invalide*</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>image</label>
                                                <input #image="ngModel" required minlength="3" maxlength="20"
                                                    [(ngModel)]="productToAdd.image_url" name="image" type="text"
                                                    class="form-control" placeholder="ben foulen">
                                                <span class="msg font-11" *ngIf="image.touched && image.errors">image
                                                    invalide*</span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>description </label>
                                            <textarea [(ngModel)]="productToAdd.description" name="abt"
                                                class="form-control"
                                                placeholder="Vos remarques, ou autres informations içi..."
                                                rows="3"></textarea>
                                        </div>
                                        <div class="form-row">

                                            <div class="form-group col-md-6">
                                                <label>prix</label>
                                                <input #prix="ngModel" required [(ngModel)]="productToAdd.prix"
                                                    minlength="8" maxlength="8" name="prix" type="number"
                                                    class="form-control" placeholder="XXXXXXX">
                                                <span class="msg font-11" *ngIf="prix.touched && prix.errors">n° CIN
                                                    invalide*</span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Nombre gellules</label>
                                                <input type="number" [(ngModel)]="productToAdd.nb_gellules"
                                                    name="nb_gellules" class="form-control"
                                                    placeholder="15 rue des jasmins">
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-12 col-lg-6">
                                        <div class="form-group">
                                            <label>guide gamme</label>
                                            <input type="text" [(ngModel)]="productToAdd.guide_gamme" name="guide_gamme"
                                                class="form-control" placeholder="24 rue el attarine">
                                        </div>
                                        <div class="form-group">
                                            <label>fiche poso</label>
                                            <input type="text" [(ngModel)]="productToAdd.fiche_poso" name="fiche_poso"
                                                class="form-control" placeholder="http://img.png">
                                        </div>
                                        <div class="form-group">
                                            <label>composition</label>
                                            <input type="text" [(ngModel)]="productToAdd.composition" name="composition"
                                                class="form-control" placeholder="License, doctorat, mastére...">
                                        </div>
                                        <div class="form-row">
                                            <label>etudes cliniques</label>
                                            <input #etude="ngModel" minlength="3" maxlength="25" required
                                                [(ngModel)]="productToAdd.etude_cliniques" name="banque" type="text"
                                                class="form-control" placeholder="BIAT,attijari...">
                                            <span class="msg font-11" *ngIf="etude.touched && etude.errors">banque
                                                invalide*</span>
                                        </div>
                                        <div class="form-row mt-3 float-right ">
                                            <div class="">
                                                <button type="submit" [disabled]="productForm.invalid"
                                                    (click)="submit(userForm)"
                                                    class="btn btn-primary btn-lg ">Enregistrer</button>
                                                <button type="reset"
                                                    class="btn btn-danger btn-lg ml-2">Réinitialiser</button>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--endform-->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Landing page redesign</h5>
                            <div class="badge badge-success my-2">Finished</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque
                                sed ipsum.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 100%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Company posters</h5>
                            <div class="badge badge-warning my-2">In progress</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas
                                malesuada. Praesent congue erat
                                at massa.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">75%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 75%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Product page design</h5>
                            <div class="badge badge-success my-2">Finished</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque
                                sed ipsum.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 100%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Upgrade CRM software</h5>
                            <div class="badge badge-warning my-2">In progress</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet
                                iaculis, ipsum. Sed aliquam
                                ultrices mauris.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">50%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 50%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <img class="card-img-top" src="img/photos/unsplash-1.jpg" alt="Unsplash">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Fix form validation</h5>
                            <div class="badge badge-warning my-2">In progress</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet
                                iaculis, ipsum. Sed aliquam
                                ultrices mauris.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">65%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 65%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <img class="card-img-top" src="img/photos/unsplash-2.jpg" alt="Unsplash">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">New company logo</h5>
                            <div class="badge badge-danger my-2">On hold</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero,
                                sit amet adipiscing sem neque
                                sed ipsum.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">20%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 20%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <img class="card-img-top" src="img/photos/unsplash-3.jpg" alt="Unsplash">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Upgrade to latest Maps API</h5>
                            <div class="badge badge-success my-2">Finished</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet
                                iaculis, ipsum. Sed aliquam
                                ultrices mauris.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">100%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 100%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card">

                        <img class="card-img-top" src="img/photos/unsplash-1.jpg" alt="Unsplash">

                        <div class="card-header px-4 pt-4">
                            <div class="card-actions float-right">
                                <div class="dropdown show">
                                    <a href="#" data-toggle="dropdown" data-display="static">
                                        <i class="align-middle" data-feather="more-horizontal"></i>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="card-title mb-0">Refactor backend templates</h5>
                            <div class="badge badge-danger my-2">On hold</div>
                        </div>
                        <div class="card-body px-4 pt-2">
                            <p>Curabitur ligula sapien, tincidunt non, euismod vitae, posuere imperdiet, leo. Maecenas
                                malesuada. Praesent congue erat
                                at massa.</p>

                            <img src="img/avatars/avatar-3.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar-2.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                            <img src="img/avatars/avatar.jpg" class="rounded-circle mr-1" alt="Avatar" width="28"
                                height="28">
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item px-4 pb-4">
                                <p class="mb-2 font-weight-bold">Progress <span class="float-right">0%</span></p>
                                <div class="progress progress-sm">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                        aria-valuemax="100" style="width: 0%;">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>