<div  [ngClass]="isSelected == true ? 'card selected' : 'card'">
    <div class="card-header px-4 pt-4">
        <div class="float-right">
            <a (click)="editProduct()"> <i class="far fa-fw fa-edit"></i></a>

        </div>
        <div class="float-left">
            <a data-target="#sizedModalSm"  data-toggle="modal" (click)="deleteProduct()"><i class="fas fa-times-circle"></i></a>
        </div>
    </div>
    <img class="card-img-top" [src]="product.image_url">

    <div class="card-header px-4 pt-4">
        <h5 class="card-title mb-0">{{product.libelle}}</h5>
        <div class="badge badge-warning my-2">boite de {{product.nb_gellules}}</div>
    </div>
    <div class="card-body px-4 pt-2">
        <p>{{product.description}}</p>
        <a *ngIf="product.composition" [href]="product.composition" target="_blank"><i class="fas fa-wrench"></i> composition </a><br />
        <a *ngIf="product.fiche_poso" [href]="product.fiche_poso" target="_blank"><i class="fas fa-file-alt"></i> posologie </a> <br />
        <a *ngIf="product.etude_cliniques" [href]="product.etude_cliniques" target="_blank"><i class="fas fa-file-medical-alt"></i> etudes cliniques</a>
    </div>
    <hr class="mb-2">
    <ul class="list-group list-group-flush">
        <li class="list-group-item px-4 pb-4">
            <p class="mb-2 font-weight-bold"><span class="float-right">PRIX : {{product.prix}} TND</span></p>
        </li>
    </ul>
</div>