<main class="content">
    <div id="print" class="container-fluid p-0" *ngIf="detailsCommande.length > 0 && selectedCommande">
 
        <h1 class="h3 mb-3">Facture</h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body m-sm-3 m-md-5">
                        <div class="float-right">
                            <button class="btn btn-danger" (click)="detailsCommande = []" id="x" *ngIf="isPrinting == false">X</button>
                        </div>
                        <div class="mb-4">
                           <span *ngIf="selectedCommande.client.type_client == 'pharmacie'">Facture au compte de la pharmacie <strong>{{selectedCommande.client.nom_client}}</strong></span>
                           <span *ngIf="selectedCommande.client.type_client == 'grossiste'">Facture au compte du grossiste <strong>{{selectedCommande.client.nom_client}}</strong></span>

                           <br />
                            Ceci est une simulation avec un total de <strong>{{selectedCommande.prix_total}}</strong> (TND).
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-muted">Commande No.</div>
                                <strong>{{selectedCommande.id}}</strong>
                            </div>
                            <div class="col-md-6 text-md-right">
                                <div class="text-muted">Date d'emission</div>
                                <strong>{{selectedCommande.createdAt}}</strong>
                            </div>
                        </div>

                        <hr class="my-4" />

                        <div class="row mb-4">
                            <div class="col-md-6">
                                <div class="text-muted">Client</div>
                                <strong>
                                    {{selectedCommande.client.nom_client}}
                                </strong>
                                <p>
                                    {{selectedCommande.client.addresse}} <br>
                                    <a href="#">
                                        {{selectedCommande.client.Localite}}
                                    </a>
                                </p>
                            </div>
                            <div class="col-md-6 text-md-right">
                                <div class="text-muted">Pour</div>
                                <strong>
                                    Farmavans
                                </strong>
                                <p>
                                    02 Rue du Paon, <br>
                                    Tunis <br>
                                    1009 <br>
                                    Tunisie <br>
                                    <a href="#">
                                        info@farmavans.tn
                                    </a>
                                </p>
                            </div>
                        </div>

                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Prix unitaire</th>
                                    <th>Quantité</th>
                                    <th>Reduction</th>
                                    <th class="text-right">Prix TTC</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let l of detailsCommande">
                                    <td>{{l.produits[0].libelle}} BTE {{l.produits[0].nb_gellules}}</td>
                                    <td>{{l.produits[0].prix}} TND.</td>
                                    <td>X{{l.quantite}}</td>
                                    <td>{{l.remise}} %</td>
                                    <td class="text-right">{{l.prixTTC}} TND.</td>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>Total remise </th>
                                    <th class="text-right">{{selectedCommande.total_remise}} %</th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>Nombre de produits </th>
                                    <th class="text-right">{{selectedCommande.nb_produits}}</th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>&nbsp;</th>
                                    <th>Total </th>
                                    <th class="text-right">{{selectedCommande.prix_total}} TND.</th>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <p class="text-sm">
                                <strong>Remarques:</strong>
                                Devis approximatif, sauf erreur ou omission de notre part.
                            </p>

                            <a id="imp" *ngIf="isPrinting == false" (click)="printPage()" class="btn btn-primary">
                                Imprimer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Historique des commmandes </h1>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h6 class="card-subtitle text-muted">L'historique des commandes passées
                           </h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered table-sm row-border hover" [dtTrigger]="trigger" datatable [dtOptions]="dtOptions">
                            <thead>
                              <tr>
                                <th>Client</th>
                                <th>type client</th>
                                <th>nombre produits</th>
                                <th>total remise</th>
                                <th>type d'achat</th>
                                <th>prix total</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody>
                             <tr *ngFor="let c of commandes">
                                   <td>{{c.client.nom_client}}</td>
                                   <td>{{c.client.type_client}}</td>
                                   <td>{{c.nb_produits}}</td>
                                   <td>{{c.total_remise}} %</td>
                                   <td>{{c.type}}</td>
                                   <td>{{c.prix_total}} TND</td>
                                   <td class="text-center"><button (click)="loadInvoice(c)" class="btn btn-success">détails</button><button (click)="deleteInvoice(c)" class="btn btn-danger ml-2">X</button></td>
                               </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>