<div class="col-12 col-xl-6">
    <div class="form-group">
        <label>produit</label>
    <select class="form-control select2">
        <option> nom du produit</option>
    </select>
    </div>
</div>

<div class="col-12 col-xl-2">
    <div class="form-group">
        <label class="form-label">quantité</label>
        <input class="form-control" type="number" name="qte" />
    </div>
</div>
<div class="col-12 col-xl-2">
    <div class="form-group">
        <label class="form-label">remise (%)</label>
        <input class="form-control" type="number" placeholder="%" name="remise" />
    </div>
</div>
<div class="col-12 col-xl-2">
    <div class="form-group">
        <label class="form-label">total TTC</label>
        <input class="form-control" disabled type="number" name="total" />
    </div>
</div>